body {
  display: flex;
  display: -webkit-flex;

  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  background-image: url("../imgs/background.jpg");
}

a {
	text-decoration: none;
	color: #fff;
}

#github:hover, #linkedin:hover {
	opacity: 0.5;
}

.links {
	text-align: center;
}
.links * {
	display: inline;
	margin: 0 auto;
}